<!doctype html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<div th:replace="/fragments/head::heads"></div>
  <body>
    
    <nav th:replace="/fragments/nav::nav-front"></nav>
<main class="container">
  
    <h1 class="display-2" th:utext="${apply.title}"></h1>
    <h5 class="display-8 alert alert-danger" >You should fille the loan application with your login email</h5>
    
    <div th:if="${message}" th:text="${message}" th:class="${'alert'+alertclass}"></div>

    <form method="post" th:object="${form}" th:action="@{/apply}">
      <div class="form-group">
        <label for="">Enter your name</label>
        <input type="text" class="form-control" th:field="*{name}"  placeholder="Title">
      </div>

      <div class="form-group">
        <label for="">Enter you email </label>
        <input type="text" class="form-control" th:field="*{email}" placeholder="Slug">
      </div>

      <div class="form-group">
        <label for="">enter your address </label>
        <textarea  rows="10" class="form-control" th:field="*{address}"></textarea>
      </div>

      <div class="form-group">
        <label for="">Enter you phone no </label>
        <input type="text" class="form-control" th:field="*{phoneno}" placeholder="Slug">
      </div>
      <div class="form-group">
        <label for="">Loan amount </label>
        <input type="text" class="form-control" th:field="*{loanamount}" placeholder="Slug">
      </div>
      <div class="form-group">
        <label for="">Income</label>
        <input type="text" class="form-control" th:field="*{income}" placeholder="Slug">
      </div>


      <button class="btn btn-danger">Submit</button>
    </form>

   
    

</main>


<div th:replace="/fragments/footer"></div>

      
  </body>
</html>
