<!doctype html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<div th:replace="/fragments/head::heads"></div>
  <body>
    
    <nav th:replace="/fragments/nav::nav-admin"></nav>
<main class="container-fluid mt-5">
  <div class="bg-light p-5 rounded row">

    <div class="col-7">Approval page</div>

    <div th:if=${!full.empty}>

      <table class="table">
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Phone no</th>
          <th>loan amount</th>
          <th>Status</th>
        </tr>
        <tr th:each="page: ${full}">

          <td th:text="${page.id}"></td>
          <td th:text="${page.name}"></td>
          <td th:text="${page.phoneno}"></td>
          <td th:text="${page.loanamount}"></td>
          <td th:text="${page.roles}"></td>
          <td><a th:href="@{'/admin/pages/approval/' + ${page.id}}">Approval</a></td>
          <td><a th:href="@{'/admin/pages/delete1/' + ${page.id}}">delete</a></td>
        </tr>
      </table>
    </div>
    <div th:unless=${!full.empty}>
      <p>there are no submissions</p>
    </div>
  </div>
</main>


<div th:replace="/fragments/footer"></div>

      
  </body>
</html>
