<!doctype html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<div th:replace="/fragments/head::heads"></div>
  <body>
    
    <nav th:replace="/fragments/nav::nav-admin"></nav>
<main class="container">
  
    <h1 class="display-2" th:text="'Edit' +' '+  ${page.title}">Edit a Page</h1>
    <a href="/admin/pages" class="btn btn-primary">Back to pages</a>

    <div th:if="${message}" th:text="${message}" th:class="${'alert'+alertclass}"></div>

    <form method="post" th:object="${page}" th:action="@{/admin/pages/edit}">
      <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" th:field="*{title}" th:value="${page.title}"  placeholder="Title">
      </div>

      <div class="form-group" th:classappend="${page.slug=='home'} ? 'd-none'">
        <label for="">Slug</label>
        <input type="text" class="form-control" th:field="*{slug}" th:value="${page.slug}" placeholder="Slug">
      </div>

      <div class="form-group">
        <label for="">Content</label>
        <textarea  rows="10" class="form-control" th:field="*{content}" th:value="${page.content}"></textarea>
      </div>

      <input type="hidden" th:field="*{id}" th:value="${page.id}" >
      <input type="hidden" th:field="*{sorting}" th:value="${page.sorting}">

      <button class="btn btn-danger">Edit</button>
    </form>

   
    

</main>


<div th:replace="/fragments/footer"></div>

      
  </body>
</html>
