<!doctype html>
<html lang="en">

<div th:replace="/fragments/head::heads"></div>
  <body>
    
    <nav th:replace="/fragments/nav::nav-admin"></nav>
<main class="container">
  
    <h1 class="display-2">Admin pages</h1>
    <a href="/admin/pages/add" class="btn btn-primary">Add new</a>
    <div th:if="${message}" th:text="${message}" th:class="${'alert'+alertclass}"></div>

    <div th:if=${!pages.empty}>

      <table class="table">
        <tr>
          <th>Title</th>
          <th>slug</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr th:each="page: ${pages}">

          <td th:text="${page.title}"></td>
          <td th:text="${page.slug}"></td>
          <td><a th:href="@{'/admin/pages/edit/' + ${page.id}}">Edit</a></td>
          <td><a th:if="${page.slug!='home'}" th:href="@{'/admin/pages/delete/' + ${page.id}}">Delete</a></td>
        </tr>
      </table>
    </div>
    <div th:unless=${!pages.empty}>
      <p>there are no pages</p>
    </div>

</main>


<div th:replace="/fragments/footer"></div>

      
  </body>
</html>
